#mainbody{
	background: #0d0d0d;
}
#toolbar_top
{
	margin: 0 auto;
}

#maincontent
{
	
	width: 980px;
	
	border-radius: 3px;
	margin: 0 auto;
    color: black;
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
   
}
 #menubar, #menubar ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
}
#menubar {
    width: 980px;
    border: 1px solid #222;
    background-color: #111;
     
    margin: 0 auto;
                
    /*background-image: -webkit-linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;*/
}
#menubar:before,
#menubar:after {
    content: "";
    display: table;
}

#menubar:after {
    clear: both;
}

#menubar {
    zoom:1;
}
#menubar li {
    float: left;
    border-right: 1px solid #222;
    -webkit-box-shadow: 1px 0 0 #444;
    position: relative;
    cursor:pointer;
}

#menubar a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menubar li:hover > a {
    color: #fafafa;
}

*html #menubar li a:hover { /* IE6 only */
    color: #fafafa;
}
#menubar ul 
{
    height: 350px;
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;	
    -webkit-background: -webkit-linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;  
}

#menubar li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menubar ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);		
}

#menubar ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menubar ul li:last-child {   
    box-shadow: none;    
}

#menubar ul a {    
    padding: 20px;
    width: 250px;
    color: #3CF;
    font: bold 25px Arial, Helvetica;
    _height: 25px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menubar ul a:hover {
    background-color: #0186ba;
    -webkit-background-image: -webkit-linear-gradient(#04acec, #0186ba);
}#menubar ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menubar ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menubar ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;	
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menubar ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menubar ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent; 	
}

#menubar ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
.Fontsys1
{
  	
	font-size: 30px;
	color: black;
	padding-left: 20px;
    font-smooth: always;
	padding-top: 20px;
	
}
.Fontsys2
{
  	
	font-size: 12px;
	
	color: black;
	padding-left: 20px;
	padding-top: 20px;
    font-smooth: always;
	
}
.Fontsys
{
  
	font-size: 12px;
	
	color: black;
	margin-left: 30px;
	
	width: 700px;
    font-smooth: always;
	text-indent: 20px;
	margin: 0 auto;
}
.Fontsys3
{
 
	font-size: 14px;
	
	color: black;
	margin-left: 20px;
    font-smooth: always;
	
}
#idealbox_gamercard
{
	border: 1px solid #03fdfb;

	width: 400px;

	margin: 50px;
	border-radius: 3px;
}
.Fontsys4
{
  
	font-size: 20px;
	
	color: black;
	padding-left: 20px;
    font-smooth: always;
	
}


.Fontsys5
{
  	
	font-size: 12px;
	
	color: blue;
    font-smooth: always;
	padding-left: 20px;
	
	cursor: pointer;
}
.Fontsys6
{
  	
	font-size: 12px;
	
	color: blue;
	padding-left: 20px;
	cursor: pointer;
    font-smooth: always;
	
	cursor: pointer;
}
.Fontsys10
{
  
	font-size: 14px;
	
    color: #F60;
	margin-left: 5px;
    font-smooth: always;
	
}
.Fontsys11
{

    font-size: 14px;
   
    color: black;
    
    font-smooth: always;
   
}
#imagebox1234
{
	width: 50px;
	height: 50px;
	float: left;
   overflow:hidden;
   padding-left: 20px;
}
#games_list
{
	border: 1px solid #03fdfb;

	width: 400px;
	margin: 50px;
	border-radius: 3px;
}
#imagebox12345
{
	width: 100px;
	height: 100px;
	float: left;
   overflow:hidden;
   padding-left: 20px;
}
.links
{
	font-family: 'GeogrotesqueSemiBold', helvetica, arial;
	font-size: 14px;
	cursor: pointer;
color: #33ccff;
text-decoration: none;
margin-right: 40px;
float: right;
}
.links:hover
{
	border-bottom: 1px solid #33ccff;
}
#statusstuff
{
	width: 950px;
	height: 1000px;
	float: right;
	border: 1px solid #03fdfb ;
	border-radius: 3px;
	margin: 40px;
}
#tiler1
{
    display: block;
    float: left;
    background-color: #525252;
    width: 350px;
    height: 150px;
    cursor: pointer;
    box-shadow: inset 0px 0px 1px #FFFFCC;
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;
    line-height: 20px;
    font-smooth: always;
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 20px;
    
}
#tiler1:hover
{
    outline: 1px solid white;
}
#tiler1:active
{
    outline: 1px solid red;
}
#gameicon
{
    width: 100px;
    height: 100px;
    float: left;
    overflow:hidden;
}
#discription_game
{
    width: 240px;
    float: right;
    margin-left: 3px;
}
#topart1
{
	
	display: block;
	width: 972px;
	background-color: #525252;
	box-shadow: inset 0px 0px 1px #FFFFCC;
	text-decoration: none;
	color: #ffffff;
	overflow: hidden;
	position: relative;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
	font-smooth: always;
	padding: 5px;
	overflow: hidden;
	-webkit-font-smooth: always;
	-moz-font-smooth: always;
}
.links_link
{
	cursor: pointer;
	color: black;
	text-decoration: none;
}
.links_link1
{
	color: black;
	text-decoration: none;
}
.links_link:hover
{
	color: #438bc5;
}
.links_link1:hover
{
	color: #438bc5;
}
.image_holder
{
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
}
#Bigbox
{
	display: block;
	padding: 10px;
	border-radius: 5px;
	background-color: #525252;
	width: 460px;
	box-shadow: inset 0px 0px 1px #FFFFCC;
	text-decoration: none;
	color: #ffffff;
	overflow: hidden;
	position: relative;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
	font-smooth: always;
	margin: 0 auto;
	overflow: hidden;
	
}
#imagebox
{
	height: 420px;
	width: 420px;
	margin: 20px;
	margin-top:20px;
	overflow: hidden;
	cursor: hover;
	-moz-box-shadow:     0 0 8px #474545;
    -webkit-box-shadow:  0 0 8px #474545;
    box-shadow:          0 0 8px #474545;
}

.innerbox
{
	background: #8989ba; /* Old browsers */
background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8989ba), color-stop(100%,#8989ba)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8989ba 0%,#8989ba 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8989ba 0%,#8989ba 100%); /* IE10+ */
background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 ); /* IE6-9 */
}
#comments
{
	border: 2px solid #e2e2e2;
	background: white;
	width: 376px;
	padding: 20px;
	margin: 0 auto;
	margin-top: -20px;
	-moz-box-shadow:    0 0 8px #474545;
    -webkit-box-shadow: 0 0 8px #474545;
    box-shadow:         0 0 8px #474545;
    color: black;
}
.line
{
	       border : 0;
       height : 2px;
       background: #e2e2e2 ;
       margin : 1em 0;
}
.text
{
	width: 300px;
padding: 6px 4px;
border: 1px solid #e1e1e1;
margin: 0;
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
}
#top_part
{
	padding: 20px;
		font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	letter-spacing: 0.02em;
	line-height: 20px;
}
 .input
		{
		  font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
		  width: 481px;
		  height: 110px; 
		  padding: 6px 4px;
		  border: 1px solid #E1E1E1;
		  outline: none;
			resize: none;
		}
		::-webkit-input-placeholder {
		   font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		}

		:-moz-placeholder {  
		    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		}

		:-ms-input-placeholder {  
		    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		}
		#asdf
		{
			background-color: #F2F2F2;
			border-top: 1px solid #E6E6E6;
			height: 40px;
		}
		.btnsearch
	{
    cursor: pointer;
    color: black;
    border-radius: 2px;
    border: 1px solid #3079ED;
                background: #7abcff; /* Old browsers */
            background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
            background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
   -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
   cursor: pointer; 


	}
	.btnsearch:hover
	{
		 background: #4096ee; /* Old browsers */
            background: -moz-linear-gradient(top, #4096ee 0%, #60abf8 56%, #7abcff 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(56%,#60abf8), color-stop(100%,#7abcff)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* IE10+ */
            background: linear-gradient(to bottom, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-9 */

	}
	.btnsearch:active
	{
	                   -moz-box-shadow:    inset 0 0 10px #000000;
               -webkit-box-shadow: inset 0 0 10px #000000;
               box-shadow:         inset 0 0 10px #000000;
	}
	.btnaddphoto{
		width:100px;
		height: 40px;
		background-color: #F2F2F2;
		border: 1px solid #E6E6E6;
		font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
		cursor: pointer;
		}
	
	.btnaddphoto:hover
	{
		background-color: #E9E9E9;
	}
    .loading {padding-left: 30px;}

.loading span {
  display:inline-block;
  margin:0px 1px;
  width:10px;
  height:10px;
  background-color:orange;
}

.loading span:nth-child(1) {
  -webkit-animation:loading 0.5s infinite alternate 0s;
  -moz-animation:loading 0.5s infinite alternate 0s;
  -ms-animation:loading 0.5s infinite alternate 0s;
  -o-animation:loading 0.5s infinite alternate 0s;
  animation:loading 0.5s infinite alternate 0s;
}

.loading span:nth-child(2) {
  -webkit-animation:loading 0.5s infinite alternate 0.2s;
  -moz-animation:loading 0.5s infinite alternate 0.2s;
  -ms-animation:loading 0.5s infinite alternate 0.2s;
  -o-animation:loading 0.5s infinite alternate 0.2s;
  animation:loading 0.5s infinite alternate 0.2s;
}

.loading span:nth-child(3) {
  -webkit-animation:loading 0.5s infinite alternate 0.4s;
  -moz-animation:loading 0.5s infinite alternate 0.4s;
  -ms-animation:loading 0.5s infinite alternate 0.4s;
  -o-animation:loading 0.5s infinite alternate 0.4s;
  animation:loading 0.5s infinite alternate 0.4s;
}

.loading span:nth-child(4) {
  -webkit-animation:loading 0.5s infinite alternate 0.6s;
  -moz-animation:loading 0.5s infinite alternate 0.6s;
  -ms-animation:loading 0.5s infinite alternate 0.6s;
  -o-animation:loading 0.5s infinite alternate 0.6s;
  animation:loading 0.5s infinite alternate 0.6s;
}

@-webkit-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-moz-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-ms-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@-o-keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}

@keyframes loading {
  0%   {opacity:0.1;}
  100% {opacity:1;  }
}
#listbox1
{
    margin-bottom: 10px;
    border: 4px transparent solid;
    padding: 5px;
	margin-left: 10px;
    width: 270px;
    position: relative;
    display: block;
    overflow:hidden;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 11pt;
    letter-spacing: 0.02em;

    font-smooth: always;
}
#listbox1:hover
{
    outline: 3px #ccc solid;
}
#boximg
{
    background: red;
    width: 48px;
    height: 48px;
    float: left;
    text-align: center;
}
.Fontsys41
{
  font-family: 'GeogrotesqueSemiBold', helvetica, arial;
	font-size: 20px;
	font-weight: bold;
	color: black;
    font-smooth: always;
	text-transform: uppercase;
}
.Fontsys111
{
  font-family: 'GeogrotesqueSemiBold', helvetica, arial;
    font-size: 14px;
    font-weight: bold;
    color: black;
    
    font-smooth: always;
    text-transform: uppercase;
}